GROQ_API_KEY=
GEMINI_API_KEY=

DATABASE_URL=postgresql://admin:admin@postgres:5432/llm_observability

LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_HOST=http://host.docker.internal:3002

SLACK_WEBHOOK_URL=

EMAIL_FROM=
EMAIL_PASSWORD=
EMAIL_TO=